<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Dashboard</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="css2/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css2/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css2/style.min.css" rel="stylesheet">

  <style>
    .dash{
      color: blue;
      font-size: 55px;
      text-decoration: underline;
      
    }
  </style>
</head>

<body class="grey lighten-3">

  <!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand waves-effect">
          <strong class="blue-text">Git And Me</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link waves-effect" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/logout">Logout</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

      <h3 class="logo-wrapper waves-effect">
        <img src="./img/footer2.png" class="img-fluid" alt="">
        <img src="./img/footer1.png" class="img-fluid" alt="">
      </h3>

      <div class="list-group list-group-flush">
        <a href="/dashboard" class="list-group-item active waves-effect">
          <i class="fas fa-chart-pie mr-3"></i>Dashboard
        </a>
        <a href="/profile" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-user mr-3"></i>Profile</a>
        <a href="/search" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-table mr-3" ></i>Search For Users</a>
          <a href="/members" class="list-group-item list-group-item-action waves-effect">
              <i class="fas fa-map mr-3"></i>Members</a>
          <a href="/lead" class="list-group-item list-group-item-action waves-effect">
              <i class="fas fa-money-bill-alt mr-3"></i>Leaderboard</a>
          <a href="/tc" class="list-group-item list-group-item-action waves-effect">
              <i class="fas fa-money-bill-alt mr-3"></i>Top Contributors</a>
      </div>

    </div>
    <!-- Sidebar -->

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

      <!-- Heading -->
      <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

          <h4 class="mb-2 mb-sm-0 pt-1 dash">Welcome {{message}}</h4>
          
        </div>
        <div style="padding: 20px; height: 350px;">
      </div>
      </div>
 
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js2/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js2/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js2/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js2/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
 
</body>

</html>
